[submodule "Site_Prediction_Tools/ESR1/AlloPockets"]
	path = Site_Prediction_Tools/AlloPockets_an_ML_model_for_allosteric_site_prediction/AlloPockets
	url = https://github.com/zoecournia/AlloPockets
[submodule "Site_Prediction_Tools/ESR4/FRET_tools"]
	path = Site_Prediction_Tools/ESR4/FRET_tools
	url = https://github.com/CompPhotoLab-bcn/FRET_tools
[submodule "Site_Prediction_Tools/ESR3/MAS"]
	path = Site_Prediction_Tools/ESR3/MAS
	url = git@github.com:CBDD/mas.git
